html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 6px;
    background-color: gainsboro;
}

:-webkit-scrollbar-track {
    background: var(--gray-100);
}

::-webkit-scrollbar-thumb {
    background: gray;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(95, 95, 95);
}